<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>New Fighter</title>
  </head>
  <body>
    <h1>Create a new fighter!</h1>
    <form action="/fighters" method="POST">
      <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required />
      </div>
      <div>
        <label for="rank">Ranking:</label>
        <input type="number" name="rank" id="rank" />
      </div>
      <div>
        <label for="division">Division:</label>
        <input type="text" name="division" id="division" required />
      </div>
      <div>
        <label for="wins">Wins:</label>
        <input type="number" name="wins" id="wins" required />
      </div>
      <div>
        <label for="losses">Losses:</label>
        <input type="number" name="losses" id="losses" required />
      </div>
      <div>
        <label for="no_contest">No Contest:</label>
        <input type="number" name="no_contest" id="no_contest" required />
      </div>
      <div>
        <label for="isActive">Active? </label>
        <input type="checkbox" name="isActive" id="isActive" />
      </div>
      <div>
        <button type="submit">Add Fighter</button>
      </div>
    </form>
    <a href="/fighters">Back to fighters</a>
  </body>
</html>
